body {
  font-family: "Roboto Mono", monospace;
  margin-bottom: 0%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Heading part */

.top-header {
  display: flex;
  justify-content: space-around;
}
nav > ul {
  display: flex;
  flex-direction: row;
}
nav li {
  list-style: none;
  margin-right: 1em;
  font-size: 20px;
}
nav li a {
  text-decoration: none;
  color: black;
}
/* first portion styles */
.first-part {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
.written-part {
  margin-top: 70px;
  width: 40%;
}
#journey {
  font-size: 50px;
}
#first-button {
  background-color: #e02c6d;
  width: 196px;
  height: 44px;
  left: 120px;
  border-radius: 41px;
  padding: 10px, 24px, 10px, 24px;
  color: aliceblue;
  font-size: 18px;
  border: none;
}
button > a {
  color: aliceblue;
  text-decoration: none;
}
button > a > i {
  margin-left: 10px;
  font-size: 25px;
}
.camera {
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
}
.camera img {
  transition: transform 2s;
}
.camera img:hover {
  transform: rotate(360deg);
}

.media-portion {
  margin: 100px 300px;
}
.logo-section {
  margin: 30px 0px 30px 0px;
  display: flex;
  justify-content: space-evenly;
}
#amazon {
  width: 80px;
}

/* Popular Collection Area Styles */

.popular-collection {
  padding: 20px 20px 20px 20px;
  width: 260px;
  height: 530px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 20px;
}
.popular-collection > i {
  color: #fb8200;
}
#price {
  color: black;
}

.popular-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.head {
  text-align: center;
}
#item {
  width: 265px;
  height: 256px;
}
#blog-text {
  font-size: 25px;
}
#see-more {
  display: flex;
  justify-content: flex-end;
}
#see-more > a {
  color: #e02c6d;
  text-decoration: none;
}
#see-more > i {
  color: #e02c6d;
  margin-left: 10px;
}

/* bonus-area styles */

.bottom-part {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 90px 0px 50px 10px;
}
.bottom-info {
  width: 70%;
  margin-left: 5%;
}
.footer {
  background: rgb(1, 11, 41);
  width: 1902px;
  max-height: 220px;
  margin-top: 5%;
}
.footer-info {
  padding: 0.5%;
  text-align: center;
  color: #ffffff;
}
.footer-info > i {
  font-size: 20px;
  padding: 10px;
}

/* media queries */
/* for mobile devices */

@media only screen and (max-width: 688px) {
  /* .container {
    width: 100%;
  }
  .popular-item,
  .bottom-part,
  .first-part {
    grid-template-columns: repeat(1, 1fr);
  }
  .written-part,
  .camera {
    flex-direction: column;
  } */
  .top-header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .popular-item,
  .bottom-part {
    grid-template-columns: repeat(1, 1fr);
  }
  .first-part,
  .media-portion,
  .popular-collection,
  .bottom-part {
    flex-direction: column;
  }
  .logo-section {
    flex-direction: column;
    display: block;
  }
  .last-image > img {
    width: 370px;
  }
  .written-part {
    width: 360px;
  }
  .camera > img {
    width: 370px;
  }
}
/* for tablet devices */
@media (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .top-header {
    display: flex;
    flex-direction: column;
  }
  .popular-item,
  .bottom-part {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
  }
  .first-part,
  .media-portion,
  .popular-collection,
  .bottom-part {
    flex-direction: column;
  }
  .head {
    text-align: start;
    padding-left: 10px;
  }
  .popular-collection {
    width: 160px;
    height: 615px;
  }
  .popular-collection > img {
    width: 20px;
  }
  .popular-item {
    width: 10px;
  }
  .logo-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: left;
  }
  .last-image > img {
    width: 370px;
  }
  .written-part {
    width: 360px;
  }
  .camera > img {
    width: 370px;
  }

  .bottom-part {
    grid-template-columns: repeat(1, 2fr);
  }
  .bottom-part {
    flex-direction: column;
  }
  .bottom-info {
    width: 40%;
  }
}
